In [16]:
import json
import re

from datasets import Dataset, load_dataset
import pandas as pd

dataset = load_dataset("nlpHakdang/beneficiary", data_files = "dart_v0.csv", use_auth_token= "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")
df = pd.DataFrame(dataset['train'])
df_context_mod = df['clean']

cnt = 0
idx = []
for i in range(len(df_context_mod)):
    try:    
        new_dict = {
            'I. 회사의 개요': {
                '1. 회사의 개요' : eval(df_context_mod[i])['I. 회사의 개요']['1. 회사의 개요'],
                '2. 회사의 연혁' : eval(df_context_mod[i])['I. 회사의 개요']['2. 회사의 연혁']
            }
            # 'II. 사업의 내용': {
            #     '1. 사업의 개요' : eval(df_context_mod[i])['II. 사업의 내용']['1. 사업의 개요'],
            #     '2. 주요 제품 및 서비스' : eval(df_context_mod[i])['II. 사업의 내용']['2. 주요 제품 및 서비스'],
            #     '6. 주요계약 및 연구개발활동' : eval(df_context_mod[i])['II. 사업의 내용']['6. 주요계약 및 연구개발활동']
            # }
        }
        df_context_mod[i] = new_dict
    except (KeyError, TypeError) as e: 
        idx.append(i)
        cnt += 1
    
print(cnt) # 281개 안 맞음 일단 이거 빼고 만듬

# 이거 다시 넣어서 csv 만들자.

df['clean'] = df_context_mod
df = df.drop(index=idx, axis=0)
df.reset_index(drop=True)
df

Using custom data configuration nlpHakdang___beneficiary-d74e873afab99cee

Downloading and preparing dataset csv/nlpHakdang___beneficiary to /opt/ml/.cache/huggingface/datasets/csv/nlpHakdang___beneficiary-d74e873afab99cee/0.0.0/bf68a4c4aefa545d0712b2fcbb1b327f905bbe2f6425fbc5e8c25234acb9e14a...

  0%|          | 0/1 [00:00<?, ?it/s]

Downloading:   0%|          | 0.00/733M [00:00<?, ?B/s]

  0%|          | 0/1 [00:00<?, ?it/s]

Dataset csv downloaded and prepared to /opt/ml/.cache/huggingface/datasets/csv/nlpHakdang___beneficiary-d74e873afab99cee/0.0.0/bf68a4c4aefa545d0712b2fcbb1b327f905bbe2f6425fbc5e8c25234acb9e14a. Subsequent calls will reuse this data.

  0%|          | 0/1 [00:00<?, ?it/s]

/opt/conda/envs/lightweight/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

5

,Unnamed: 0,stock_code,report_idx,corp_code,corp_name,report_date,clean
0,0,950130,20211115000151,956028,엑세스바이오,20170630,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
1,1,33030,20211115002044,232317,지오엠씨,20170630,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 가. 연결대상...
2,2,67130,20211112000043,419989,클루넷,20170630,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
3,3,139200,20211115002442,855145,하이골드오션2호선박투자회사,20171127,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
4,4,900070,20211125000049,783246,글로벌에스엠,20170703,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
...,...,...,...,...,...,...,...
2594,2594,340440,20211115000416,1416572,한화플러스제1호스팩,20211125,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 ※ 한화플러스...
2595,2595,137950,20211111000044,664853,제이씨케미칼,20211126,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 제이씨케미칼(...
2596,2596,9540,20211115001694,164830,한국조선해양,20211022,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
2597,2597,128820,20211115000893,828789,대성산업,20211111,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 회사의 법...
2598,2598,289220,20211110000405,1264438,자이언트스텝,20211028,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요주식회사 자이언...

In [17]:
# 클루넷이 쏘아올린 큰 공
# http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201 기반으로 kospi, kosdaq, konex 데이터 get
my_corp = df['corp_name'].tolist()
kosdaq = pd.read_csv('kosdaq.csv', encoding='cp949')
kospi = pd.read_csv('kospi.csv', encoding='cp949')
konex = pd.read_csv('konex.csv', encoding='cp949')
kosdaq = kosdaq['종목명'].to_list()
kospi = kospi['종목명'].to_list()
konex = konex['종목명'].to_list()
print(len(kospi))
print(len(kosdaq))
print(len(konex))

942
1531
132

In [18]:
from collections import defaultdict
A = defaultdict(int)
B = []
for i in my_corp:
    if i in kospi:
        A['kospi'] += 1
    elif i in kosdaq:
        A['kosdaq'] += 1
    elif i in konex:
        A['konex'] += 1
    else:
        B.append(i)

print(A['kospi'])
print(A['kosdaq'])
print(A['konex'])

# Kospi, Kosdaq, Konex 어디에도 들어가지 않는 것들
print(B)
print(len(B))

756
1504
127
['지오엠씨', '클루넷', '하이골드오션2호선박투자회사', '루트원플러스', '에스티씨라이프', '동양텔레콤', '에임하이글로벌', '디비엘', '더스텔라', '자유투어', '한국단자공업', '교보10호기업인수목적', '유나이티드', '삼화전자공업', '이지스밸류플러스리츠', '넥스지', '케이티스카이라이프', '엔피씨', '네이블커뮤니케이션즈', '한국스탠다드차타드은행', '케이비증권', '데코앤이', '휴니드테크놀러지스', '한솔피엔에스', '티에스엠텍', '한국석유공업', '지앤엘', '드림라인', '케이씨씨', '화승인더스트리', '범양사', '대구은행', '디아이동일', '포트로닉스천안', '진양폴리우레탄', '태양금속공업', '피앤텔', '산은캐피탈', '다함이텍', '한국수출포장공업', '글로앤웰', '에코솔루션', '광주은행', '엔에이치엔', '바이오빌', '티비에이치글로벌', '신텍', '리드', '우성아이비', '위노바', '대백저축은행', '엠소닉', '지디', '지에스엔텍', '국민은행', '천지산업', '미창석유공업', '알바이오', '대림비앤코', '잘만테크', '신세계톰보이', '한신기계공업', '케이비캐피탈', '동아', '삼영전자공업', '이매진아시아', '동양건설산업', '아이에이치큐', '한국주철관공업', '이엘케이', '삼화페인트공업', '엔터미디어', '풍림산업', '에스에프씨', '제네시스디벨롭먼트홀딩스', '성지건설', '에스케이바이오팜', '부산은행', '신세계I&C', '포스코', '네오이뮨텍', '케이씨티시', '한국아트라스비엑스', '동성화학', '씨앤에스자산관리', '계룡건설산업', '에스케이브로드밴드', '포스코플랜텍', '쌍용자동차', '이마트에브리데이', '엘에스일렉트릭', '피엔에스커튼월', '에이치디씨영창', '미주제강', '우양에이치씨', '에스제이엠홀딩스', '성원', '하우리', '서울식품공업', '한국컴퓨터지주', '신비앤텍', '에스제이엠', '우전', '부산도시가스', '경남기업', '에스엠화진', '퓨전', '우리금융캐피탈', '케이씨씨글라스', '티씨엠생명과학', '엔에이치기업인수목적13호', '케이씨더블류', '케이티', '씨엘인터내셔널', '서울도시가스', '지유온', '콜마파마', '효성 ITX', '생고뱅코리아홀딩스', '에스케이씨솔믹스', '일화모직공업', '일레덱스홀딩스', '경남은행', '에이팸', '코오롱머티리얼', '키움제5호기업인수목적', '엠젠플러스', '넥스쳐', '삼보오토', '금호석유화학', '아진카인텍', '삼화콘덴서공업', '팍스넷', '디에스티', '삼영화학공업', '아이엠텍', '두산건설', 'F&F 홀딩스', '신한', '한국프랜지공업', '제낙스', '브릿지바이오', '에이치디', '한국씨티은행', '케이맥', '케이비제17호기업인수목적', '하나머스트제6호기업인수목적', '다이노나', '전우정밀', '농업회사법인아시아종묘', '화신테크', '하나은행', '케이티앤지', '아모레퍼시픽그룹', '미래테크놀로지', '오상헬스케어', '롯데칠성음료', '해원에스티', '케이조선', '태림페이퍼', '유안타제4호스팩', '대주코레스', '웅진에너지', '휴코드홀딩스', '신한카드', '프리젠', '유진증권', '맥스로텍', '한화에스비아이스팩', '넥상스코리아', '극동전선', '에이아이비트', '한주케미칼앤홀딩스', '코너스톤네트웍스', '풀무원식품', '하이트론씨스템즈', '지에스홈쇼핑', '에스지에이클라우드서비스', '이도바이오', '우리은행', 'KB손해보험', '조은저축은행', '현대자동차', '녹십자셀', '현대엘리베이터', '대선조선', '전북은행', '행남사', '신한은행', '신한금융투자', '럭슬', '그린기술투자', '한화갤러리아타임월드', '에스지신성건설', '에스케이에이씨피씨제4호기업인수목적', '뉴아세아조인트', '오렌지라이프생명보험', '삼성화재해상보험', '이엠네트웍스', '에스제이케이', '쌍용씨앤이', '서주산업개발', '라임', '한국전력공사', '텔라움', '폭스소프트', '엘브이엠씨']
207

In [19]:
import copy
df_deep = copy.deepcopy(df) 
for i in range(len(B)):
    idx = df[df['corp_name'] == B[i]].index
    df.drop(idx, inplace=True)

In [20]:
df

,Unnamed: 0,stock_code,report_idx,corp_code,corp_name,report_date,clean
0,0,950130,20211115000151,956028,엑세스바이오,20170630,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
4,4,900070,20211125000049,783246,글로벌에스엠,20170703,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
5,5,900120,20211028000448,800084,씨케이에이치,20170703,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 (1) 연결대...
6,6,900290,20211028000456,1170962,GRT,20181122,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
7,7,900340,20210830000685,1328639,윙입푸드,20181130,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
...,...,...,...,...,...,...,...
2594,2594,340440,20211115000416,1416572,한화플러스제1호스팩,20211125,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 ※ 한화플러스...
2595,2595,137950,20211111000044,664853,제이씨케미칼,20211126,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 제이씨케미칼(...
2596,2596,9540,20211115001694,164830,한국조선해양,20211022,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
2597,2597,128820,20211115000893,828789,대성산업,20211111,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 회사의 법...
2598,2598,289220,20211110000405,1264438,자이언트스텝,20211028,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요주식회사 자이언...

In [21]:
add_corp = ['한국단자공업', '유나이티드', '삼화전자공업', '이지스밸류플러스리츠','케이티스카이라이프', '엔피씨', '네이블커뮤니케이션즈', '휴니드테크놀러지스',
'한솔피앤에스', '한국석유공업', '케이씨씨', '화승인더스트리','디아이동일', '진양폴리우레탄', '태양금속공업', '한국수출포장공업', '엔에이치엔', '티비에이치글로벌',
'미창석유공업', '대림비앤코', '한신기계공업', '삼영전자공업', '아이에이치큐', '한국주철관공업', '삼화페인트공업', '에스케이바이오팜', '신세계I&C', '포스코',
'네오이뮨텍', '케이씨티씨', '계룡건설산업', '쌍용자동차', '엘에스일렉트릭', '에스제이엠홀딩스', '서울식품공업', '에스제이엠', '부산도시가스', '케이씨씨글라스',
'서울도시가스', '효성 ITX', '엠젠플러스', '금호석유화학', '삼화콘덴서공업', '삼영화학공업', 'F&F 홀딩스', '한국프랜지공업', '브릿지바이오', '농업회사법인아시아종묘',
'케이티앤지', '아모레퍼시픽그룹', '롯데칠성음료', '한주케미칼앤홀딩스', '하이트론씨스템즈', '녹십자셀', '현대엘리베이터', '쌍용씨앤이', '한국전력공사', '엘브이엠씨', '현대자동차', ]
len(add_corp)

59

In [22]:
import copy

for i in range(len(add_corp)):
    df = df.append(df_deep[df_deep['corp_name'] == add_corp[i]])
len(df)

2444

In [23]:
df = df.reset_index()

In [24]:
del df['Unnamed: 0']

In [25]:
df[df['corp_name'] == '현대자동차']

,index,stock_code,report_idx,corp_code,corp_name,report_date,clean
2443,2383,5380,20211115001980,164742,현대자동차,20210512,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가.연결대상 종...

In [26]:
df

,index,stock_code,report_idx,corp_code,corp_name,report_date,clean
0,0,950130,20211115000151,956028,엑세스바이오,20170630,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
1,4,900070,20211125000049,783246,글로벌에스엠,20170703,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
2,5,900120,20211028000448,800084,씨케이에이치,20170703,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 (1) 연결대...
3,6,900290,20211028000456,1170962,GRT,20181122,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
4,7,900340,20210830000685,1328639,윙입푸드,20181130,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
...,...,...,...,...,...,...,...
2439,2408,17800,20211115002172,164724,현대엘리베이터,20210512,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 회사의 법...
2440,2515,3410,20211115002437,138224,쌍용씨앤이,20211020,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 가. 연결대상...
2441,2555,15760,20211115001967,159193,한국전력공사,20210602,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 한국전력공사...
2442,2587,900140,20211126000686,838500,엘브이엠씨,20210611,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
2443,2383,5380,20211115001980,164742,현대자동차,20210512,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가.연결대상 종...

In [27]:
df['clean'][2443]['I. 회사의 개요'].keys()

dict_keys(['1. 회사의 개요', '2. 회사의 연혁'])

In [28]:
df

,index,stock_code,report_idx,corp_code,corp_name,report_date,clean
0,0,950130,20211115000151,956028,엑세스바이오,20170630,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
1,4,900070,20211125000049,783246,글로벌에스엠,20170703,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
2,5,900120,20211028000448,800084,씨케이에이치,20170703,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 (1) 연결대...
3,6,900290,20211028000456,1170962,GRT,20181122,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
4,7,900340,20210830000685,1328639,윙입푸드,20181130,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
...,...,...,...,...,...,...,...
2439,2408,17800,20211115002172,164724,현대엘리베이터,20210512,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 회사의 법...
2440,2515,3410,20211115002437,138224,쌍용씨앤이,20211020,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 가. 연결대상...
2441,2555,15760,20211115001967,159193,한국전력공사,20210602,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 한국전력공사...
2442,2587,900140,20211126000686,838500,엘브이엠씨,20210611,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
2443,2383,5380,20211115001980,164742,현대자동차,20210512,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가.연결대상 종...

In [29]:
df_context_mod = df['clean']

In [30]:
del df['clean']

In [31]:
df_I1, df_I2 = [], []
for i in range(len(df_context_mod)):
    df_I1.append(df_context_mod[i]['I. 회사의 개요']['1. 회사의 개요'])
    df_I2.append(df_context_mod[i]['I. 회사의 개요']['2. 회사의 연혁'])

contexts = {'회사의 개요' : df_I1, '회사의 연혁' : df_I2}

df_plus = pd.DataFrame(contexts)
df_plus

,회사의 개요,회사의 연혁
0,1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁가. 엑세스바이오 일자 내용 2002년 09월 회사설립 회사...
1,1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁-. 글로벌에스엠테크리미티드 항목 일자 내용 비고 (1) ...
2,1. 회사의 개요 (1) 연결대상 종속회사 개황연결대상 종속회사 현황(요약) (단위...,2. 회사의 연혁(1) 당해 기업의 연혁 일자 내용 2009.02.24 Chi...
3,1. 회사의 개요가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결대...,2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 당사가 속해 있는 그룹은 당사를...
4,1. 회사의 개요가. 연결대상 종속회사 개황 1-1 연결대상 종속회사 현황(요약)...,2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 일자 내용 2015.04...
...,...,...
2439,1. 회사의 개요가. 회사의 법적ㆍ상업적 명칭 - 당사의 명칭은 '현대엘리베이...,2. 회사의 연혁 가. 주요 연혁 (1) 현대엘리베이터 주식회사 일 자 내 ...
2440,1. 회사의 개요 가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결...,2. 회사의 연혁공시대상기간 (2017.1.1 ~ 2021.9.30) 중 회사의 주...
2441,1. 회사의 개요 한국전력공사는 1982년 1월 1일 설립되어 1989년 8월 1...,2. 회사의 연혁가. 본점 소재지 및 그 변경 당사의 본점소재지는 전라남도 나주시...
2442,1. 회사의 개요가. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁가. 경영진의 중요한 변동 변동일자 주총종류 선임 임기만료 또...
2443,1. 회사의 개요가.연결대상 종속회사 개황 1. 연결대상 종속회사 현황(요약) (...,2. 회사의 연혁 가. 본점소재지 및 그 변경 당사 본점소재지는 서울시 서초구 헌릉...

In [32]:
result = pd.concat([df, df_plus], axis=1)
result

,index,stock_code,report_idx,corp_code,corp_name,report_date,회사의 개요,회사의 연혁
0,0,950130,20211115000151,956028,엑세스바이오,20170630,1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁가. 엑세스바이오 일자 내용 2002년 09월 회사설립 회사...
1,4,900070,20211125000049,783246,글로벌에스엠,20170703,1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁-. 글로벌에스엠테크리미티드 항목 일자 내용 비고 (1) ...
2,5,900120,20211028000448,800084,씨케이에이치,20170703,1. 회사의 개요 (1) 연결대상 종속회사 개황연결대상 종속회사 현황(요약) (단위...,2. 회사의 연혁(1) 당해 기업의 연혁 일자 내용 2009.02.24 Chi...
3,6,900290,20211028000456,1170962,GRT,20181122,1. 회사의 개요가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결대...,2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 당사가 속해 있는 그룹은 당사를...
4,7,900340,20210830000685,1328639,윙입푸드,20181130,1. 회사의 개요가. 연결대상 종속회사 개황 1-1 연결대상 종속회사 현황(요약)...,2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 일자 내용 2015.04...
...,...,...,...,...,...,...,...,...
2439,2408,17800,20211115002172,164724,현대엘리베이터,20210512,1. 회사의 개요가. 회사의 법적ㆍ상업적 명칭 - 당사의 명칭은 '현대엘리베이...,2. 회사의 연혁 가. 주요 연혁 (1) 현대엘리베이터 주식회사 일 자 내 ...
2440,2515,3410,20211115002437,138224,쌍용씨앤이,20211020,1. 회사의 개요 가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결...,2. 회사의 연혁공시대상기간 (2017.1.1 ~ 2021.9.30) 중 회사의 주...
2441,2555,15760,20211115001967,159193,한국전력공사,20210602,1. 회사의 개요 한국전력공사는 1982년 1월 1일 설립되어 1989년 8월 1...,2. 회사의 연혁가. 본점 소재지 및 그 변경 당사의 본점소재지는 전라남도 나주시...
2442,2587,900140,20211126000686,838500,엘브이엠씨,20210611,1. 회사의 개요가. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁가. 경영진의 중요한 변동 변동일자 주총종류 선임 임기만료 또...
2443,2383,5380,20211115001980,164742,현대자동차,20210512,1. 회사의 개요가.연결대상 종속회사 개황 1. 연결대상 종속회사 현황(요약) (...,2. 회사의 연혁 가. 본점소재지 및 그 변경 당사 본점소재지는 서울시 서초구 헌릉...

In [33]:
del result['index']
result

,stock_code,report_idx,corp_code,corp_name,report_date,회사의 개요,회사의 연혁
0,950130,20211115000151,956028,엑세스바이오,20170630,1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁가. 엑세스바이오 일자 내용 2002년 09월 회사설립 회사...
1,900070,20211125000049,783246,글로벌에스엠,20170703,1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁-. 글로벌에스엠테크리미티드 항목 일자 내용 비고 (1) ...
2,900120,20211028000448,800084,씨케이에이치,20170703,1. 회사의 개요 (1) 연결대상 종속회사 개황연결대상 종속회사 현황(요약) (단위...,2. 회사의 연혁(1) 당해 기업의 연혁 일자 내용 2009.02.24 Chi...
3,900290,20211028000456,1170962,GRT,20181122,1. 회사의 개요가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결대...,2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 당사가 속해 있는 그룹은 당사를...
4,900340,20210830000685,1328639,윙입푸드,20181130,1. 회사의 개요가. 연결대상 종속회사 개황 1-1 연결대상 종속회사 현황(요약)...,2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 일자 내용 2015.04...
...,...,...,...,...,...,...,...
2439,17800,20211115002172,164724,현대엘리베이터,20210512,1. 회사의 개요가. 회사의 법적ㆍ상업적 명칭 - 당사의 명칭은 '현대엘리베이...,2. 회사의 연혁 가. 주요 연혁 (1) 현대엘리베이터 주식회사 일 자 내 ...
2440,3410,20211115002437,138224,쌍용씨앤이,20211020,1. 회사의 개요 가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결...,2. 회사의 연혁공시대상기간 (2017.1.1 ~ 2021.9.30) 중 회사의 주...
2441,15760,20211115001967,159193,한국전력공사,20210602,1. 회사의 개요 한국전력공사는 1982년 1월 1일 설립되어 1989년 8월 1...,2. 회사의 연혁가. 본점 소재지 및 그 변경 당사의 본점소재지는 전라남도 나주시...
2442,900140,20211126000686,838500,엘브이엠씨,20210611,1. 회사의 개요가. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁가. 경영진의 중요한 변동 변동일자 주총종류 선임 임기만료 또...
2443,5380,20211115001980,164742,현대자동차,20210512,1. 회사의 개요가.연결대상 종속회사 개황 1. 연결대상 종속회사 현황(요약) (...,2. 회사의 연혁 가. 본점소재지 및 그 변경 당사 본점소재지는 서울시 서초구 헌릉...

In [34]:
result[result.duplicated(['corp_name'])]
result = result.drop_duplicates(['corp_name'], keep='first')

In [35]:
result = result.reset_index()
result

,index,stock_code,report_idx,corp_code,corp_name,report_date,회사의 개요,회사의 연혁
0,0,950130,20211115000151,956028,엑세스바이오,20170630,1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁가. 엑세스바이오 일자 내용 2002년 09월 회사설립 회사...
1,1,900070,20211125000049,783246,글로벌에스엠,20170703,1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁-. 글로벌에스엠테크리미티드 항목 일자 내용 비고 (1) ...
2,2,900120,20211028000448,800084,씨케이에이치,20170703,1. 회사의 개요 (1) 연결대상 종속회사 개황연결대상 종속회사 현황(요약) (단위...,2. 회사의 연혁(1) 당해 기업의 연혁 일자 내용 2009.02.24 Chi...
3,3,900290,20211028000456,1170962,GRT,20181122,1. 회사의 개요가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결대...,2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 당사가 속해 있는 그룹은 당사를...
4,4,900340,20210830000685,1328639,윙입푸드,20181130,1. 회사의 개요가. 연결대상 종속회사 개황 1-1 연결대상 종속회사 현황(요약)...,2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 일자 내용 2015.04...
...,...,...,...,...,...,...,...,...
2437,2439,17800,20211115002172,164724,현대엘리베이터,20210512,1. 회사의 개요가. 회사의 법적ㆍ상업적 명칭 - 당사의 명칭은 '현대엘리베이...,2. 회사의 연혁 가. 주요 연혁 (1) 현대엘리베이터 주식회사 일 자 내 ...
2438,2440,3410,20211115002437,138224,쌍용씨앤이,20211020,1. 회사의 개요 가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결...,2. 회사의 연혁공시대상기간 (2017.1.1 ~ 2021.9.30) 중 회사의 주...
2439,2441,15760,20211115001967,159193,한국전력공사,20210602,1. 회사의 개요 한국전력공사는 1982년 1월 1일 설립되어 1989년 8월 1...,2. 회사의 연혁가. 본점 소재지 및 그 변경 당사의 본점소재지는 전라남도 나주시...
2440,2442,900140,20211126000686,838500,엘브이엠씨,20210611,1. 회사의 개요가. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁가. 경영진의 중요한 변동 변동일자 주총종류 선임 임기만료 또...
2441,2443,5380,20211115001980,164742,현대자동차,20210512,1. 회사의 개요가.연결대상 종속회사 개황 1. 연결대상 종속회사 현황(요약) (...,2. 회사의 연혁 가. 본점소재지 및 그 변경 당사 본점소재지는 서울시 서초구 헌릉...

In [36]:
del result['index']
result

,stock_code,report_idx,corp_code,corp_name,report_date,회사의 개요,회사의 연혁
0,950130,20211115000151,956028,엑세스바이오,20170630,1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁가. 엑세스바이오 일자 내용 2002년 09월 회사설립 회사...
1,900070,20211125000049,783246,글로벌에스엠,20170703,1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁-. 글로벌에스엠테크리미티드 항목 일자 내용 비고 (1) ...
2,900120,20211028000448,800084,씨케이에이치,20170703,1. 회사의 개요 (1) 연결대상 종속회사 개황연결대상 종속회사 현황(요약) (단위...,2. 회사의 연혁(1) 당해 기업의 연혁 일자 내용 2009.02.24 Chi...
3,900290,20211028000456,1170962,GRT,20181122,1. 회사의 개요가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결대...,2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 당사가 속해 있는 그룹은 당사를...
4,900340,20210830000685,1328639,윙입푸드,20181130,1. 회사의 개요가. 연결대상 종속회사 개황 1-1 연결대상 종속회사 현황(요약)...,2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 일자 내용 2015.04...
...,...,...,...,...,...,...,...
2437,17800,20211115002172,164724,현대엘리베이터,20210512,1. 회사의 개요가. 회사의 법적ㆍ상업적 명칭 - 당사의 명칭은 '현대엘리베이...,2. 회사의 연혁 가. 주요 연혁 (1) 현대엘리베이터 주식회사 일 자 내 ...
2438,3410,20211115002437,138224,쌍용씨앤이,20211020,1. 회사의 개요 가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결...,2. 회사의 연혁공시대상기간 (2017.1.1 ~ 2021.9.30) 중 회사의 주...
2439,15760,20211115001967,159193,한국전력공사,20210602,1. 회사의 개요 한국전력공사는 1982년 1월 1일 설립되어 1989년 8월 1...,2. 회사의 연혁가. 본점 소재지 및 그 변경 당사의 본점소재지는 전라남도 나주시...
2440,900140,20211126000686,838500,엘브이엠씨,20210611,1. 회사의 개요가. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,2. 회사의 연혁가. 경영진의 중요한 변동 변동일자 주총종류 선임 임기만료 또...
2441,5380,20211115001980,164742,현대자동차,20210512,1. 회사의 개요가.연결대상 종속회사 개황 1. 연결대상 종속회사 현황(요약) (...,2. 회사의 연혁 가. 본점소재지 및 그 변경 당사 본점소재지는 서울시 서초구 헌릉...

In [37]:
# result.to_csv("dart_v2.0.csv")

#### 여기서부턴 통합된 파일 만드는 과정

In [38]:
corp_list = result['corp_name'].to_list()

In [39]:
from datasets import load_dataset
import pandas as pd

dataset = load_dataset("nlpHakdang/beneficiary", data_files = "dart_v0.csv", use_auth_token= "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")
df = pd.DataFrame(dataset['train'])
df_context_mod = df['clean']

Using custom data configuration nlpHakdang___beneficiary-d74e873afab99cee
Reusing dataset csv (/opt/ml/.cache/huggingface/datasets/csv/nlpHakdang___beneficiary-d74e873afab99cee/0.0.0/bf68a4c4aefa545d0712b2fcbb1b327f905bbe2f6425fbc5e8c25234acb9e14a)

  0%|          | 0/1 [00:00<?, ?it/s]

In [40]:
df_orig = pd.DataFrame()
for i in range(len(corp_list)):
    df_orig = df_orig.append(df[df['corp_name'] == corp_list[i]])

In [41]:
df_orig = df_orig.reset_index()

In [42]:
df_orig

,index,Unnamed: 0,stock_code,report_idx,corp_code,corp_name,report_date,clean
0,0,0,950130,20211115000151,956028,엑세스바이오,20170630,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
1,4,4,900070,20211125000049,783246,글로벌에스엠,20170703,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2,5,5,900120,20211028000448,800084,씨케이에이치,20170703,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
3,6,6,900290,20211028000456,1170962,GRT,20181122,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
4,7,7,900340,20210830000685,1328639,윙입푸드,20181130,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
...,...,...,...,...,...,...,...,...
2439,2408,2408,17800,20211115002172,164724,현대엘리베이터,20210512,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2440,2515,2515,3410,20211115002437,138224,쌍용씨앤이,20211020,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2441,2555,2555,15760,20211115001967,159193,한국전력공사,20210602,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2442,2587,2587,900140,20211126000686,838500,엘브이엠씨,20210611,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2443,2383,2383,5380,20211115001980,164742,현대자동차,20210512,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."

In [43]:
df_orig[df_orig.duplicated(['corp_name'])]
df_orig = df_orig.drop_duplicates(['corp_name'], keep='first')

In [44]:
df_orig = df_orig.reset_index()

In [45]:
del df_orig['Unnamed: 0']
del df_orig['index']

In [46]:
df_orig_corp = df_orig['clean']

In [47]:
df_orig

,level_0,stock_code,report_idx,corp_code,corp_name,report_date,clean
0,0,950130,20211115000151,956028,엑세스바이오,20170630,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
1,1,900070,20211125000049,783246,글로벌에스엠,20170703,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2,2,900120,20211028000448,800084,씨케이에이치,20170703,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
3,3,900290,20211028000456,1170962,GRT,20181122,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
4,4,900340,20210830000685,1328639,윙입푸드,20181130,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
...,...,...,...,...,...,...,...
2437,2439,17800,20211115002172,164724,현대엘리베이터,20210512,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2438,2440,3410,20211115002437,138224,쌍용씨앤이,20211020,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2439,2441,15760,20211115001967,159193,한국전력공사,20210602,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2440,2442,900140,20211126000686,838500,엘브이엠씨,20210611,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2441,2443,5380,20211115001980,164742,현대자동차,20210512,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."

In [69]:
# eval(df_orig['clean'][2441])['II. 사업의 내용']

# 현대차, 카카오, 한화 들어가야 할 것
# 제조서비스업과 금융서비스업이 나눠진 것
df_mod = copy.deepcopy(df_orig)
a = eval(df_mod.iloc[2441].clean)['I. 회사의 개요']['1. 회사의 개요']
b = eval(df_mod.iloc[2441].clean)['II. 사업의 내용']['1. (제조서비스업)사업의 개요'] + eval(df_mod.iloc[2441].clean)['II. 사업의 내용']['1. (금융업)사업의 개요']

# 금융권 들어가야 할 것
c =  eval(df_mod.iloc[1345].clean)['I. 회사의 개요']['1. 회사의 개요']
d =  eval(df_mod.iloc[1345].clean)['II. 사업의 내용']['1. 사업의 개요']

# 대부분의 분기보고서
e =  eval(df_mod.iloc[0].clean)['I. 회사의 개요']['1. 회사의 개요']
f =  eval(df_mod.iloc[0].clean)['II. 사업의 내용']['1. 사업의 개요']

# 정기보고서
# 현대해상

"1. 사업의 개요 당사는 금융업을 영위하는 회사 등에 대한 지배ㆍ경영관리, 종속회사에 대한 자금지원 등을 주요 사업목적으로 2001년 9월 1일에 주식회사 신한은행, 신한증권 주식회사, 신한캐피탈 주식회사 및 신한비엔피파리바자산운용주식회사(舊신한투자신탁운용주식회사)의 주주로부터 주식이전의 방법으로 설립된 금융지주회사입니다.  또한 당사는 한국거래소 유가증권시장과 뉴욕증권거래소에 각각 상장되어 거래되고 있습니다.   당사는 2021년 9월말 현재 상장회사인 제주은행과 비상장회사인 신한은행, 신한카드, 신한금융투자, 신한라이프생명보험, 신한캐피탈, 신한자산운용, 신한저축은행, 아시아신탁, 신한DS, 신한아이타스, 신한신용정보, 신한대체투자운용, 신한리츠운용, 신한에이아이, 신한벤처투자의 지배회사입니다.  당사는 상기 자회사를 통하여 은행업, 신용카드업, 금융투자업, 생명보험업, 여신전문금융업, 자산운용업, 저축은행업, 부동산신탁업, 시스템 개발 및 공급업, 집합투자 일반사무관리업, 채권추심업, 사모투자업 및 전문사모집합투자업, 부동산자산관리업, 투자자문업, 벤처캐피탈 사업을 영위하고 있습니다.  상기 자회사등을 포함한 연결기준의 당사 이익구조는 주로 이자손익, 수수료손익, 보험손익, 유가증권 관련 손익 등으로 구성되며, 비용구조는 주로 신용손실충당금 전입액, 일반관리비 등으로 구성되어 있습니다.  당사는 '미래를 함께하는 따뜻한 금융' 을 회사의 미션으로 삼아 금융의 본업을 통해 '고객', '기업', '사회'의 가치가 함께 커지는 상생의 발전을 지향하고 있습니다. 다변화된 사업 포트폴리오와 차별적인 위험관리능력을 통하여 안정적이고 지속적인 재무실적을 시현해 왔으며, 상장기업으로서 주주가치를 제고하기 위한 노력 또한 계속하고 있습니다.  당사는 그룹의 중기전략인 『F.R.E.S.H 2020s』을 통해 중기지향점인 『一流신한』 을 달성하고 나아가 그룹의 비전인 『World Class Financial Group』으로 발돋움 하기 위하여 노력하고 있습니다. "

In [75]:
cnt = []
for i in range(len(df_mod)):
    if not eval(df_mod['clean'][i])['II. 사업의 내용'].keys():
        cnt.append(i)

In [101]:
trash = df_orig.loc[cnt]['corp_name'].to_list()
trash

['네추럴FNP',
 '메디안디노스틱',
 '씨앤에스링크',
 '비엔디생활건강',
 '에이치엔에스하이텍',
 '에스알바이오텍',
 '나눔테크',
 '인카금융서비스',
 '다원넥스뷰',
 '파워풀엑스',
 '이엠티',
 '유투바이오',
 '나우코스',
 '에이펙스인텍',
 '플럼라인생명과학',
 '제노텍',
 '라이프사이언스테크놀로지',
 '펨토바이오메드',
 '파마리서치바이오',
 '나노캠텍',
 '에스엘에스바이오',
 '이노벡스',
 '현대해상',
 '에프알텍',
 '카이노스메드',
 '크로넥스',
 '엔에스컴퍼니',
 '메디젠휴먼케어',
 '티티씨디펜스',
 '엘리비젼',
 '이비테크',
 '안지오랩',
 '아퓨어스',
 '휴벡셀',
 '판도라티비',
 '더콘텐츠온',
 '다이오진',
 '청광건설',
 '데이드림엔터',
 '에이원알폼',
 '에스제이켐',
 '루트락',
 '태양기계',
 '대주이엔티',
 '유니포인트',
 '한국미라클피플사',
 '엄지하우스',
 '시그넷이브이',
 '에스엠비나',
 '스템랩',
 '오션스톤',
 '뿌리깊은나무들',
 '메디쎄이',
 '씨앗',
 '코셋',
 '미래엔에듀파트너',
 '테크트랜스',
 '에스엔피제네틱스',
 '렌딩머신',
 '피엔아이컴퍼니',
 '탑선',
 'EMB',
 '블루탑',
 '관악산업',
 '바이오프로테크',
 '미애부',
 '엠앤씨생명과학',
 '대성홀딩스',
 '골프존데카',
 '툴젠',
 '지오씨',
 '썬테크',
 '노브메타파마',
 '단디바이오',
 '엔지브이아이',
 '이십일스토어',
 '한중엔시에스',
 '피노텍',
 '선바이오',
 '럭스피아',
 '씨알푸드',
 '셀젠텍',
 '프로테옴텍',
 '엔에스엠',
 '나라소프트',
 '볼빅',
 '베른',
 '바이오시네틱스',
 '도부마스크',
 '애드바이오텍',
 '에스케이씨에스',
 '이성씨엔아이',
 '아이케이세미콘',
 '엔솔바이오사이언스',
 '틸론',
 '질경이',
 '그린플러스',
 '루켄테크놀러지스',
 '빅텐츠',
 '시큐센',
 '바이옵트로',
 '앙츠',
 '테크엔',
 '위월드',
 '명진홀딩스',
 '비플라이소프트',
 '큐엠씨',
 '데이터스트림즈',
 '인바이츠바이오코아',
 '원텍',
 '엘에이티',
 '인터코스',
 '수프로',
 '유비온',
 '지앤이헬스케어',
 '원포유',
 '바이오인프라생명과학',
 '이노진',
 '아이피몬스터',
 '유엑스엔',
 '듀켐바이오',
 '굿센',
 '래몽래인',
 '디피코',
 '씨엔티드림',
 '타임기술',
 '무진메디',
 '지란지교시큐리티',
 '케어룸의료산업']

In [86]:
df_mod = df_mod.drop(index=cnt)
df_mod

,level_0,stock_code,report_idx,corp_code,corp_name,report_date,clean
0,0,950130,20211115000151,956028,엑세스바이오,20170630,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
1,1,900070,20211125000049,783246,글로벌에스엠,20170703,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2,2,900120,20211028000448,800084,씨케이에이치,20170703,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
3,3,900290,20211028000456,1170962,GRT,20181122,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
4,4,900340,20210830000685,1328639,윙입푸드,20181130,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
...,...,...,...,...,...,...,...
2437,2439,17800,20211115002172,164724,현대엘리베이터,20210512,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2438,2440,3410,20211115002437,138224,쌍용씨앤이,20211020,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2439,2441,15760,20211115001967,159193,한국전력공사,20210602,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2440,2442,900140,20211126000686,838500,엘브이엠씨,20210611,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2441,2443,5380,20211115001980,164742,현대자동차,20210512,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."

In [87]:
df_mod = df_mod.reset_index()
df_mod

,index,level_0,stock_code,report_idx,corp_code,corp_name,report_date,clean
0,0,0,950130,20211115000151,956028,엑세스바이오,20170630,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
1,1,1,900070,20211125000049,783246,글로벌에스엠,20170703,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2,2,2,900120,20211028000448,800084,씨케이에이치,20170703,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
3,3,3,900290,20211028000456,1170962,GRT,20181122,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
4,4,4,900340,20210830000685,1328639,윙입푸드,20181130,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
...,...,...,...,...,...,...,...,...
2308,2437,2439,17800,20211115002172,164724,현대엘리베이터,20210512,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2309,2438,2440,3410,20211115002437,138224,쌍용씨앤이,20211020,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2310,2439,2441,15760,20211115001967,159193,한국전력공사,20210602,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2311,2440,2442,900140,20211126000686,838500,엘브이엠씨,20210611,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."
2312,2441,2443,5380,20211115001980,164742,현대자동차,20210512,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개..."

In [91]:
# 현대차, 카카오, 한화 들어가야 할 것
# 제조서비스업과 금융서비스업이 나눠진 것
first = []
second = []
for i in range(len((df_mod))):
    if '1. (제조서비스업)사업의 개요' in eval(df_mod.iloc[i].clean)['II. 사업의 내용'].keys():
        a = eval(df_mod.iloc[i].clean)['I. 회사의 개요']['1. 회사의 개요']
        b = eval(df_mod.iloc[i].clean)['II. 사업의 내용']['1. (제조서비스업)사업의 개요'] + eval(df_mod.iloc[i].clean)['II. 사업의 내용']['1. (금융업)사업의 개요']
    else:
    # 금융권 들어가야 할 것
        a =  eval(df_mod.iloc[i].clean)['I. 회사의 개요']['1. 회사의 개요']
        b =  eval(df_mod.iloc[i].clean)['II. 사업의 내용']['1. 사업의 개요']

    first.append(a)
    second.append(b)

df_mod['회사의 개요'] = first
df_mod['사업의 개요'] = second

    

    # 대부분의 분기보고서
    # e =  eval(df_mod.iloc[i].clean)['I. 회사의 개요']['1. 회사의 개요']
    # f =  eval(df_mod.iloc[i].clean)['II. 사업의 내용']['1. 사업의 개요']

In [95]:
del df_mod['index']
del df_mod['level_0']

In [115]:
df_mod

,stock_code,report_idx,corp_code,corp_name,report_date,clean,회사의 개요,사업의 개요
0,950130,20211115000151,956028,엑세스바이오,20170630,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...",1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,"1. 사업의 개요당사는 체외진단 기술을 토대로 면역화학진단, 바이오센서, 분자진단..."
1,900070,20211125000049,783246,글로벌에스엠,20170703,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...",1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,"1. 사업의 개요지주회사(持株會社, Holding Company)란 다른 회사의 주..."
2,900120,20211028000448,800084,씨케이에이치,20170703,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...",1. 회사의 개요 (1) 연결대상 종속회사 개황연결대상 종속회사 현황(요약) (단위...,1. 사업의 개요가. 산업개황 및 전망 당사의 매출과 이익은 중국 내에서의 건강식품...
3,900290,20211028000456,1170962,GRT,20181122,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...",1. 회사의 개요가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결대...,1. 사업의 개요가. 산업의 이해 (1) 영위하고 있는 사업당사의 주요 사업영역으...
4,900340,20210830000685,1328639,윙입푸드,20181130,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...",1. 회사의 개요가. 연결대상 종속회사 개황 1-1 연결대상 종속회사 현황(요약)...,1. 사업의 개요 당사는 한국 표준산업 분류 기준 대분류상 식료품 제조업 산업에...
...,...,...,...,...,...,...,...,...
2308,17800,20211115002172,164724,현대엘리베이터,20210512,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...",1. 회사의 개요가. 회사의 법적ㆍ상업적 명칭 - 당사의 명칭은 '현대엘리베이...,"1. 사업의 개요◆ 당사는 1984년 5월 23일 설립하여 엘리베이터, 에스컬레이터..."
2309,3410,20211115002437,138224,쌍용씨앤이,20211020,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...",1. 회사의 개요 가. 연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결...,"1. 사업의 개요 쌍용C&E㈜는 시멘트사업을 중심으로 환경자원사업, 레미콘사업, ..."
2310,15760,20211115001967,159193,한국전력공사,20210602,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...",1. 회사의 개요 한국전력공사는 1982년 1월 1일 설립되어 1989년 8월 1...,"1. 사업의 개요현재 국내 전력 산업의 체계는 전력생산, 수송, 판매 체계로 이뤄지..."
2311,900140,20211126000686,838500,엘브이엠씨,20210611,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...",1. 회사의 개요가. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...,1. 사업의 개요당사는 2009년 6월 16일 라오스 소재의 사업자회사인 Auto ...
2312,5380,20211115001980,164742,현대자동차,20210512,"{'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...",1. 회사의 개요가.연결대상 종속회사 개황 1. 연결대상 종속회사 현황(요약) (...,1. (제조서비스업)사업의 개요[차량부문] 당사는 제 54기 3분기 누적 293만대...

In [114]:
df_mod.to_csv('dart_v2_1.csv')

In [51]:
del df_mod['level_0']
df_mod

      stock_code  ...                                              clean
0         950130  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
1         900070  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
2         900120  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 (1) 연결대...
3         900290  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
4         900340  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
...          ...  ...                                                ...
2437       17800  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 회사의 법...
2438        3410  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 가. 연결대상...
2439       15760  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요  한국전력공사...
2440      900140  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
2441        5380  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가.연결대상 종...

[2442 rows x 6 columns]