In [7]:
import json
import re

from datasets import Dataset, load_dataset
import pandas as pd

dataset = load_dataset("nlpHakdang/beneficiary", data_files = "dart_v0.csv", use_auth_token= "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")
df = pd.DataFrame(dataset['train'])
df_context_mod = df['clean']

cnt = 0
idx = []
for i in range(len(df_context_mod)):
    try:    
        new_dict = {
            'I. 회사의 개요': {
                '1. 회사의 개요' : eval(df_context_mod[i])['I. 회사의 개요']['1. 회사의 개요'],
                '2. 회사의 연혁' : eval(df_context_mod[i])['I. 회사의 개요']['2. 회사의 연혁']
            }
            # 'II. 사업의 내용': {
            #     '1. 사업의 개요' : eval(df_context_mod[i])['II. 사업의 내용']['1. 사업의 개요'],
            #     '2. 주요 제품 및 서비스' : eval(df_context_mod[i])['II. 사업의 내용']['2. 주요 제품 및 서비스'],
            #     '6. 주요계약 및 연구개발활동' : eval(df_context_mod[i])['II. 사업의 내용']['6. 주요계약 및 연구개발활동']
            # }
        }
        df_context_mod[i] = new_dict
    except (KeyError, TypeError) as e: 
        idx.append(i)
        cnt += 1
    
print(cnt) # 281개 안 맞음 일단 이거 빼고 만듬

# 이거 다시 넣어서 csv 만들자.

df['clean'] = df_context_mod
df = df.drop(index=idx, axis=0)
df.reset_index(drop=True)
df

Using custom data configuration nlpHakdang___beneficiary-48025d21515700b0
Reusing dataset csv (/opt/ml/.cache/huggingface/datasets/csv/nlpHakdang___beneficiary-48025d21515700b0/0.0.0/bf68a4c4aefa545d0712b2fcbb1b327f905bbe2f6425fbc5e8c25234acb9e14a)

  0%|          | 0/1 [00:00<?, ?it/s]

/opt/conda/envs/lightweight/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

5

      Unnamed: 0  ...                                              clean
0              0  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
1              1  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 가. 연결대상...
2              2  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
3              3  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
4              4  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
...          ...  ...                                                ...
2594        2594  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 ※ 한화플러스...
2595        2595  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 제이씨케미칼(...
2596        2596  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
2597        2597  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 회사의 법...
2598        2598  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요주식회사 자이언...

[2594 rows x 7 columns]

In [8]:
# 클루넷이 쏘아올린 큰 공
# http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201 기반으로 kospi, kosdaq, konex 데이터 get
my_corp = df['corp_name'].tolist()
kosdaq = pd.read_csv('kosdaq.csv', encoding='cp949')
kospi = pd.read_csv('kospi.csv', encoding='cp949')
konex = pd.read_csv('konex.csv', encoding='cp949')
kosdaq = kosdaq['종목명'].to_list()
kospi = kospi['종목명'].to_list()
konex = konex['종목명'].to_list()
print(len(kospi))
print(len(kosdaq))
print(len(konex))

942
1531
132

In [9]:
from collections import defaultdict
A = defaultdict(int)
B = []
for i in my_corp:
    if i in kospi:
        A['kospi'] += 1
    elif i in kosdaq:
        A['kosdaq'] += 1
    elif i in konex:
        A['konex'] += 1
    else:
        B.append(i)

print(A['kospi'])
print(A['kosdaq'])
print(A['konex'])

# Kospi, Kosdaq, Konex 어디에도 들어가지 않는 것들
print(B)
print(len(B))

756
1504
127
['지오엠씨', '클루넷', '하이골드오션2호선박투자회사', '루트원플러스', '에스티씨라이프', '동양텔레콤', '에임하이글로벌', '디비엘', '더스텔라', '자유투어', '한국단자공업', '교보10호기업인수목적', '유나이티드', '삼화전자공업', '이지스밸류플러스리츠', '넥스지', '케이티스카이라이프', '엔피씨', '네이블커뮤니케이션즈', '한국스탠다드차타드은행', '케이비증권', '데코앤이', '휴니드테크놀러지스', '한솔피엔에스', '티에스엠텍', '한국석유공업', '지앤엘', '드림라인', '케이씨씨', '화승인더스트리', '범양사', '대구은행', '디아이동일', '포트로닉스천안', '진양폴리우레탄', '태양금속공업', '피앤텔', '산은캐피탈', '다함이텍', '한국수출포장공업', '글로앤웰', '에코솔루션', '광주은행', '엔에이치엔', '바이오빌', '티비에이치글로벌', '신텍', '리드', '우성아이비', '위노바', '대백저축은행', '엠소닉', '지디', '지에스엔텍', '국민은행', '천지산업', '미창석유공업', '알바이오', '대림비앤코', '잘만테크', '신세계톰보이', '한신기계공업', '케이비캐피탈', '동아', '삼영전자공업', '이매진아시아', '동양건설산업', '아이에이치큐', '한국주철관공업', '이엘케이', '삼화페인트공업', '엔터미디어', '풍림산업', '에스에프씨', '제네시스디벨롭먼트홀딩스', '성지건설', '에스케이바이오팜', '부산은행', '신세계I&C', '포스코', '네오이뮨텍', '케이씨티시', '한국아트라스비엑스', '동성화학', '씨앤에스자산관리', '계룡건설산업', '에스케이브로드밴드', '포스코플랜텍', '쌍용자동차', '이마트에브리데이', '엘에스일렉트릭', '피엔에스커튼월', '에이치디씨영창', '미주제강', '우양에이치씨', '에스제이엠홀딩스', '성원', '하우리', '서울식품공업', '한국컴퓨터지주', '신비앤텍', '에스제이엠', '우전', '부산도시가스', '경남기업', '에스엠화진', '퓨전', '우리금융캐피탈', '케이씨씨글라스', '티씨엠생명과학', '엔에이치기업인수목적13호', '케이씨더블류', '케이티', '씨엘인터내셔널', '서울도시가스', '지유온', '콜마파마', '효성 ITX', '생고뱅코리아홀딩스', '에스케이씨솔믹스', '일화모직공업', '일레덱스홀딩스', '경남은행', '에이팸', '코오롱머티리얼', '키움제5호기업인수목적', '엠젠플러스', '넥스쳐', '삼보오토', '금호석유화학', '아진카인텍', '삼화콘덴서공업', '팍스넷', '디에스티', '삼영화학공업', '아이엠텍', '두산건설', 'F&F 홀딩스', '신한', '한국프랜지공업', '제낙스', '브릿지바이오', '에이치디', '한국씨티은행', '케이맥', '케이비제17호기업인수목적', '하나머스트제6호기업인수목적', '다이노나', '전우정밀', '농업회사법인아시아종묘', '화신테크', '하나은행', '케이티앤지', '아모레퍼시픽그룹', '미래테크놀로지', '오상헬스케어', '롯데칠성음료', '해원에스티', '케이조선', '태림페이퍼', '유안타제4호스팩', '대주코레스', '웅진에너지', '휴코드홀딩스', '신한카드', '프리젠', '유진증권', '맥스로텍', '한화에스비아이스팩', '넥상스코리아', '극동전선', '에이아이비트', '한주케미칼앤홀딩스', '코너스톤네트웍스', '풀무원식품', '하이트론씨스템즈', '지에스홈쇼핑', '에스지에이클라우드서비스', '이도바이오', '우리은행', 'KB손해보험', '조은저축은행', '현대자동차', '녹십자셀', '현대엘리베이터', '대선조선', '전북은행', '행남사', '신한은행', '신한금융투자', '럭슬', '그린기술투자', '한화갤러리아타임월드', '에스지신성건설', '에스케이에이씨피씨제4호기업인수목적', '뉴아세아조인트', '오렌지라이프생명보험', '삼성화재해상보험', '이엠네트웍스', '에스제이케이', '쌍용씨앤이', '서주산업개발', '라임', '한국전력공사', '텔라움', '폭스소프트', '엘브이엠씨']
207

In [10]:
import copy
df_deep = copy.deepcopy(df) 
for i in range(len(B)):
    idx = df[df['corp_name'] == B[i]].index
    df.drop(idx, inplace=True)

In [11]:
df

      Unnamed: 0  ...                                              clean
0              0  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
4              4  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
5              5  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 (1) 연결대...
6              6  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
7              7  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
...          ...  ...                                                ...
2594        2594  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 ※ 한화플러스...
2595        2595  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 제이씨케미칼(...
2596        2596  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
2597        2597  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 회사의 법...
2598        2598  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요주식회사 자이언...

[2387 rows x 7 columns]

In [12]:
add_corp = ['한국단자공업', '유나이티드', '삼화전자공업', '이지스밸류플러스리츠','케이티스카이라이프', '엔피씨', '네이블커뮤니케이션즈', '휴니드테크놀러지스',
'한솔피앤에스', '한국석유공업', '케이씨씨', '화승인더스트리','디아이동일', '진양폴리우레탄', '태양금속공업', '한국수출포장공업', '엔에이치엔', '티비에이치글로벌',
'미창석유공업', '대림비앤코', '한신기계공업', '삼영전자공업', '아이에이치큐', '한국주철관공업', '삼화페인트공업', '에스케이바이오팜', '신세계I&C', '포스코',
'네오이뮨텍', '케이씨티씨', '계룡건설산업', '쌍용자동차', '엘에스일렉트릭', '에스제이엠홀딩스', '서울식품공업', '에스제이엠', '부산도시가스', '케이씨씨글라스',
'서울도시가스', '효성 ITX', '엠젠플러스', '금호석유화학', '삼화콘덴서공업', '삼영화학공업', 'F&F 홀딩스', '한국프랜지공업', '브릿지바이오', '농업회사법인아시아종묘',
'케이티앤지', '아모레퍼시픽그룹', '롯데칠성음료', '한주케미칼앤홀딩스', '하이트론씨스템즈', '녹십자셀', '현대엘리베이터', '쌍용씨앤이', '한국전력공사', '엘브이엠씨', '현대자동차', ]
len(add_corp)

59

In [13]:
import copy

for i in range(len(add_corp)):
    df = df.append(df_deep[df_deep['corp_name'] == add_corp[i]])
len(df)

2444

In [14]:
df = df.reset_index()

In [15]:
del df['Unnamed: 0']

In [16]:
df[df['corp_name'] == '현대자동차']

      index  ...                                              clean
2443   2383  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가.연결대상 종...

[1 rows x 7 columns]

In [17]:
df

      index  ...                                              clean
0         0  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
1         4  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
2         5  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 (1) 연결대...
3         6  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
4         7  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
...     ...  ...                                                ...
2439   2408  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 회사의 법...
2440   2515  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 가. 연결대상...
2441   2555  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요  한국전력공사...
2442   2587  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
2443   2383  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가.연결대상 종...

[2444 rows x 7 columns]

In [18]:
df['clean'][2443]['I. 회사의 개요'].keys()

dict_keys(['1. 회사의 개요', '2. 회사의 연혁'])

In [19]:
df

      index  ...                                              clean
0         0  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
1         4  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
2         5  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 (1) 연결대...
3         6  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
4         7  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
...     ...  ...                                                ...
2439   2408  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 회사의 법...
2440   2515  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 가. 연결대상...
2441   2555  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요  한국전력공사...
2442   2587  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
2443   2383  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가.연결대상 종...

[2444 rows x 7 columns]

In [20]:
df_context_mod = df['clean']

In [21]:
del df['clean']

In [22]:
df_I1, df_I2 = [], []
for i in range(len(df_context_mod)):
    df_I1.append(df_context_mod[i]['I. 회사의 개요']['1. 회사의 개요'])
    df_I2.append(df_context_mod[i]['I. 회사의 개요']['2. 회사의 연혁'])

contexts = {'회사의 개요' : df_I1, '회사의 연혁' : df_I2}

df_plus = pd.DataFrame(contexts)
df_plus

                                                 회사의 개요                                             회사의 연혁
0     1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...  2. 회사의 연혁가. 엑세스바이오 일자  내용  2002년 09월  회사설립  회사...
1     1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...  2. 회사의 연혁-. 글로벌에스엠테크리미티드 항목  일자  내용  비고  (1)  ...
2     1. 회사의 개요 (1) 연결대상 종속회사 개황연결대상 종속회사 현황(요약) (단위...  2. 회사의 연혁(1) 당해 기업의 연혁 일자  내용  2009.02.24  Chi...
3     1. 회사의 개요가. 연결대상 종속회사 현황(요약) (단위 : 사)  구분  연결대...  2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 당사가 속해 있는 그룹은 당사를...
4     1. 회사의 개요가. 연결대상 종속회사 개황  1-1 연결대상 종속회사 현황(요약)...  2. 회사의 연혁가. 회사가 속해  있는 그룹의 연혁  일자  내용  2015.04...
...                                                 ...                                                ...
2439  1. 회사의 개요가. 회사의 법적ㆍ상업적 명칭    - 당사의 명칭은 '현대엘리베이...  2. 회사의 연혁 가. 주요 연혁 (1) 현대엘리베이터 주식회사 일  자  내   ...
2440  1. 회사의 개요 가. 연결대상 종속회사 현황(요약) (단위 : 사)  구분  연결...  2. 회사의 연혁공시대상기간 (2017.1.1 ~ 2021.9.30) 중 회사의 주...
2441  1. 회사의 개요  한국전력공사는 1982년 1월 1일 설립되어 1989년 8월 1...  2. 회사의 연혁가. 본점 소재지 및 그 변경  당사의 본점소재지는 전라남도 나주시...
2442  1. 회사의 개요가. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 ...  2. 회사의 연혁가. 경영진의 중요한 변동 변동일자  주총종류  선임  임기만료 또...
2443  1. 회사의 개요가.연결대상 종속회사 개황  1. 연결대상 종속회사 현황(요약) (...  2. 회사의 연혁 가. 본점소재지 및 그 변경 당사 본점소재지는 서울시 서초구 헌릉...

[2444 rows x 2 columns]

In [23]:
result = pd.concat([df, df_plus], axis=1)
result

      index  ...                                             회사의 연혁
0         0  ...  2. 회사의 연혁가. 엑세스바이오 일자  내용  2002년 09월  회사설립  회사...
1         4  ...  2. 회사의 연혁-. 글로벌에스엠테크리미티드 항목  일자  내용  비고  (1)  ...
2         5  ...  2. 회사의 연혁(1) 당해 기업의 연혁 일자  내용  2009.02.24  Chi...
3         6  ...  2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 당사가 속해 있는 그룹은 당사를...
4         7  ...  2. 회사의 연혁가. 회사가 속해  있는 그룹의 연혁  일자  내용  2015.04...
...     ...  ...                                                ...
2439   2408  ...  2. 회사의 연혁 가. 주요 연혁 (1) 현대엘리베이터 주식회사 일  자  내   ...
2440   2515  ...  2. 회사의 연혁공시대상기간 (2017.1.1 ~ 2021.9.30) 중 회사의 주...
2441   2555  ...  2. 회사의 연혁가. 본점 소재지 및 그 변경  당사의 본점소재지는 전라남도 나주시...
2442   2587  ...  2. 회사의 연혁가. 경영진의 중요한 변동 변동일자  주총종류  선임  임기만료 또...
2443   2383  ...  2. 회사의 연혁 가. 본점소재지 및 그 변경 당사 본점소재지는 서울시 서초구 헌릉...

[2444 rows x 8 columns]

In [24]:
del result['index']
result

      stock_code  ...                                             회사의 연혁
0         950130  ...  2. 회사의 연혁가. 엑세스바이오 일자  내용  2002년 09월  회사설립  회사...
1         900070  ...  2. 회사의 연혁-. 글로벌에스엠테크리미티드 항목  일자  내용  비고  (1)  ...
2         900120  ...  2. 회사의 연혁(1) 당해 기업의 연혁 일자  내용  2009.02.24  Chi...
3         900290  ...  2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 당사가 속해 있는 그룹은 당사를...
4         900340  ...  2. 회사의 연혁가. 회사가 속해  있는 그룹의 연혁  일자  내용  2015.04...
...          ...  ...                                                ...
2439       17800  ...  2. 회사의 연혁 가. 주요 연혁 (1) 현대엘리베이터 주식회사 일  자  내   ...
2440        3410  ...  2. 회사의 연혁공시대상기간 (2017.1.1 ~ 2021.9.30) 중 회사의 주...
2441       15760  ...  2. 회사의 연혁가. 본점 소재지 및 그 변경  당사의 본점소재지는 전라남도 나주시...
2442      900140  ...  2. 회사의 연혁가. 경영진의 중요한 변동 변동일자  주총종류  선임  임기만료 또...
2443        5380  ...  2. 회사의 연혁 가. 본점소재지 및 그 변경 당사 본점소재지는 서울시 서초구 헌릉...

[2444 rows x 7 columns]

In [57]:
result[result.duplicated(['corp_name'])]
result = result.drop_duplicates(['corp_name'], keep='first')

In [60]:
result = result.reset_index()
result

      index  ...                                             회사의 연혁
0         0  ...  2. 회사의 연혁가. 엑세스바이오 일자  내용  2002년 09월  회사설립  회사...
1         1  ...  2. 회사의 연혁-. 글로벌에스엠테크리미티드 항목  일자  내용  비고  (1)  ...
2         2  ...  2. 회사의 연혁(1) 당해 기업의 연혁 일자  내용  2009.02.24  Chi...
3         3  ...  2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 당사가 속해 있는 그룹은 당사를...
4         4  ...  2. 회사의 연혁가. 회사가 속해  있는 그룹의 연혁  일자  내용  2015.04...
...     ...  ...                                                ...
2437   2439  ...  2. 회사의 연혁 가. 주요 연혁 (1) 현대엘리베이터 주식회사 일  자  내   ...
2438   2440  ...  2. 회사의 연혁공시대상기간 (2017.1.1 ~ 2021.9.30) 중 회사의 주...
2439   2441  ...  2. 회사의 연혁가. 본점 소재지 및 그 변경  당사의 본점소재지는 전라남도 나주시...
2440   2442  ...  2. 회사의 연혁가. 경영진의 중요한 변동 변동일자  주총종류  선임  임기만료 또...
2441   2443  ...  2. 회사의 연혁 가. 본점소재지 및 그 변경 당사 본점소재지는 서울시 서초구 헌릉...

[2442 rows x 8 columns]

In [61]:
del result['index']
result

      stock_code  ...                                             회사의 연혁
0         950130  ...  2. 회사의 연혁가. 엑세스바이오 일자  내용  2002년 09월  회사설립  회사...
1         900070  ...  2. 회사의 연혁-. 글로벌에스엠테크리미티드 항목  일자  내용  비고  (1)  ...
2         900120  ...  2. 회사의 연혁(1) 당해 기업의 연혁 일자  내용  2009.02.24  Chi...
3         900290  ...  2. 회사의 연혁가. 회사가 속해 있는 그룹의 연혁 당사가 속해 있는 그룹은 당사를...
4         900340  ...  2. 회사의 연혁가. 회사가 속해  있는 그룹의 연혁  일자  내용  2015.04...
...          ...  ...                                                ...
2437       17800  ...  2. 회사의 연혁 가. 주요 연혁 (1) 현대엘리베이터 주식회사 일  자  내   ...
2438        3410  ...  2. 회사의 연혁공시대상기간 (2017.1.1 ~ 2021.9.30) 중 회사의 주...
2439       15760  ...  2. 회사의 연혁가. 본점 소재지 및 그 변경  당사의 본점소재지는 전라남도 나주시...
2440      900140  ...  2. 회사의 연혁가. 경영진의 중요한 변동 변동일자  주총종류  선임  임기만료 또...
2441        5380  ...  2. 회사의 연혁 가. 본점소재지 및 그 변경 당사 본점소재지는 서울시 서초구 헌릉...

[2442 rows x 7 columns]

In [62]:
result.to_csv("dart_v2.0.csv")

#### 여기서부턴 통합된 파일 만드는 과정

In [26]:
corp_list = result['corp_name'].to_list()

In [27]:
from datasets import load_dataset
import pandas as pd

dataset = load_dataset("nlpHakdang/beneficiary", data_files = "dart_v0.csv", use_auth_token= "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")
df = pd.DataFrame(dataset['train'])
df_context_mod = df['clean']

Using custom data configuration nlpHakdang___beneficiary-48025d21515700b0
Reusing dataset csv (/opt/ml/.cache/huggingface/datasets/csv/nlpHakdang___beneficiary-48025d21515700b0/0.0.0/bf68a4c4aefa545d0712b2fcbb1b327f905bbe2f6425fbc5e8c25234acb9e14a)

  0%|          | 0/1 [00:00<?, ?it/s]

In [28]:
df_orig = pd.DataFrame()
for i in range(len(corp_list)):
    df_orig = df_orig.append(df[df['corp_name'] == corp_list[i]])

In [29]:
df_orig = df_orig.reset_index()

In [30]:
df_orig

      index  ...                                              clean
0         0  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
1         4  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
2         5  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
3         6  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
4         7  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
...     ...  ...                                                ...
2443   2408  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
2444   2515  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
2445   2555  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
2446   2587  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
2447   2383  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...

[2448 rows x 8 columns]

In [31]:
df_orig[df_orig.duplicated(['corp_name'])]
df_orig = df_orig.drop_duplicates(['corp_name'], keep='first')

In [32]:
df_orig = df_orig.reset_index()

In [33]:
del df_orig['Unnamed: 0']
del df_orig['index']

In [34]:
df_orig_corp = df_orig['clean']

In [35]:
df_orig

      level_0  ...                                              clean
0           0  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
1           1  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
2           2  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
3           3  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
4           4  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
...       ...  ...                                                ...
2437     2443  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
2438     2444  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
2439     2445  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
2440     2446  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...
2441     2447  ...  {'【 대표이사 등의 확인 】': {}, 'I. 회사의 개요': {'1. 회사의 개...

[2442 rows x 7 columns]

In [48]:
df_mod = copy.deepcopy(df_orig)
cnt = 0
nothing = 0
problem = []
for i in range(len(df_orig)):
    try :
        if '1. 사업의 개요' in eval(df_orig_corp[i])['II. 사업의 내용'].keys(): 
            new_dict = {
                'I. 회사의 개요': {
                    '1. 회사의 개요' : eval(df_orig_corp[i])['I. 회사의 개요']['1. 회사의 개요'],
                    '2. 회사의 연혁' : eval(df_orig_corp[i])['I. 회사의 개요']['2. 회사의 연혁']
                }
            }
            df_mod['clean'][i] = new_dict
        else:
            new_dict = {
                'I. 회사의 개요': {
                    '1. 회사의 개요' : eval(df_orig_corp[i])['I. 회사의 개요']['1. 회사의 개요'],
                    '2. 회사의 연혁' : eval(df_orig_corp[i])['I. 회사의 개요']['2. 회사의 연혁']
                }
            }
            df_mod['clean'][i] = new_dict
            
            problem.append(df_orig['corp_name'][i])
    except:
        nothing += 1
        pass
    
print(cnt)
print(problem)
print(nothing)

/opt/conda/envs/lightweight/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/envs/lightweight/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0
['카카오', '네추럴FNP', '메디안디노스틱', '씨앤에스링크', '비엔디생활건강', 'CNH', '에이치엔에스하이텍', '에스알바이오텍', '나눔테크', '인카금융서비스', '다원넥스뷰', '파워풀엑스', '이엠티', '무림P&P', '유투바이오', '나우코스', '에이펙스인텍', '플럼라인생명과학', '제노텍', '라이프사이언스테크놀로지', '펨토바이오메드', '파마리서치바이오', '나노캠텍', '에스엘에스바이오', '이노벡스', '현대해상', '에프알텍', '카이노스메드', '크로넥스', '엔에스컴퍼니', '메디젠휴먼케어', '리드코프', '글로벌텍스프리', '티티씨디펜스', '엘리비젼', '이비테크', '무림페이퍼', '토니모리', '안지오랩', '케이프', '아퓨어스', '휴벡셀', '판도라티비', '더콘텐츠온', '다이오진', '청광건설', '데이드림엔터', '에이원알폼', '에스제이켐', '루트락', '태양기계', '대주이엔티', '유니포인트', '한국미라클피플사', '엄지하우스', '시그넷이브이', '에스엠비나', '스템랩', '오션스톤', '뿌리깊은나무들', '메디쎄이', '씨앗', '코셋', '미래엔에듀파트너', '테크트랜스', '에스엔피제네틱스', '렌딩머신', '피엔아이컴퍼니', 'LF', '탑선', 'EMB', '블루탑', '관악산업', '바이오프로테크', '미애부', '엠앤씨생명과학', '대성홀딩스', '골프존데카', '툴젠', '지오씨', '썬테크', '노브메타파마', '디피씨', '단디바이오', '엔지브이아이', '이십일스토어', '크리스탈지노믹스', '한중엔시에스', '피노텍', '선바이오', '럭스피아', '씨알푸드', '셀젠텍', '프로테옴텍', '엔에스엠', '나라소프트', '볼빅', '베른', '바이오시네틱스', '도부마스크', '애드바이오텍', '에스케이씨에스', '이성씨엔아이', '아이케이세미콘', '엔솔바이오사이언스', '이니텍', '참엔지니어링', '틸론', '질경이', '그린플러스', '루켄테크놀러지스', '빅텐츠', '한화', '상상인', '시큐센', '바이옵트로', '앙츠', '다우기술', '다우데이타', '테크엔', '위월드', '명진홀딩스', '비플라이소프트', '큐엠씨', '데이터스트림즈', '인바이츠바이오코아', '원텍', '엘에이티', '인터코스', '수프로', '유비온', '지앤이헬스케어', '원포유', '바이오인프라생명과학', '이노진', '아이피몬스터', '유엑스엔', '듀켐바이오', '굿센', '래몽래인', '디피코', '씨엔티드림', '타임기술', '무진메디', '지란지교시큐리티', 'SGA솔루션즈', '케어룸의료산업', '현대자동차']
0

In [51]:
del df_mod['level_0']
df_mod

      stock_code  ...                                              clean
0         950130  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
1         900070  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
2         900120  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 (1) 연결대...
3         900290  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
4         900340  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
...          ...  ...                                                ...
2437       17800  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 회사의 법...
2438        3410  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 가. 연결대상...
2439       15760  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요  한국전력공사...
2440      900140  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 연결대상 ...
2441        5380  ...  {'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가.연결대상 종...

[2442 rows x 6 columns]

In [54]:
df_mod['clean'][0]['I. 회사의 개요']['1. 회사의 개요']

"1. 회사의 개요1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 사업보고서, 분기ㆍ반기보고서를 제출하는 경우에 한함) 연결대상 종속회사 현황(요약) (단위 : 사)  구분  연결대상회사수  주요 종속회사수  기초  증가  감소  기말  상장  -  -  -  -  -  비상장  3  -  -  3  1  합계  -  -  -  -  -  ※상세 현황은 '상세표-1. 연결대상 종속회사 현황(상세)' 참조 1-1. 연결대상회사의 변동내용 구분  자회사  사유  신규 연결  -  -  -  -  연결 제외  -  -  -  - 2.  회사의 법적, 상업적 명칭 당사의 명칭은 (주)엑세스바이오로 표기합니다. 영문으로는 Access Bio, Inc.로 표기합니다.  3. 설립일자 및 존속기간 설립일자 : 2002년 9월 27일 존속기간 : 해당사항 없음 4. 본사의 주소, 전화번호, 홈페이지 주소 주     소  65 Clyde Road, Suite A, Somerset, NJ 08873, USA  전화번호  +1-732-873-4040  홈페이지  http://www.accessbio.net  5. 중소기업 해당 여부  중소기업 해당 여부  미해당    벤처기업 해당 여부  미해당  중견기업 해당 여부  미해당  6. 대리인에 관한 사항 공시 업무는 유진투자증권 주식회사가 진행하고 있습니다.    이   름 :  유진투자증권(주)      대표자 :  유창수     주   소 :  서울특별시 영등포구 국제금융로 24 유진그룹빌딩         연락처 :  1588-6300  7. 주요 사업의 내용 및 신규산업의 내용 당사는 말라리아와 G6PD, 독감, 코로나 바이러스 등의 진단시약을 개발, 생산하는 업체로,회사의 사업은 작게는 현장진단검사(Point of Care Test : POCT) 시장에 속해 있고 크게는 체외진단(In-Vitro Diagnostics) 시장에 속해 있습니다.   상세한 내용은 동 공시서류의 '사업의 내용'을 참조하시기 바랍니다.  8. 회사의 주권상장(또는 등록ㆍ지정)여부 및 특례상장에 관한 사항 주권상장 (또는등록ㆍ지정)여부  주권상장 (또는등록ㆍ지정)일자  특례상장등 여부  특례상장등 적용법규  코스닥 시장 상장  2013년 05월 30일  해당사항 없음  해당사항 없음 "

In [ ]:
# 이건 context 통합된 파일
df_mod