In [109]:
from datasets import Dataset, load_dataset
import pandas as pd
import json

In [112]:
# use_auth_token을 자기 토큰으로 교체하세여. 토큰은 개인 profile의 api token에서 가지고 올 수 있어요
dataset = load_dataset("nlpHakdang/beneficiary", data_files = "dart_ver1_1.csv", use_auth_token= "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")
dataset

Using custom data configuration nlpHakdang___beneficiary-1d32d2b062b3ea54

Downloading and preparing dataset csv/nlpHakdang___beneficiary to /opt/ml/.cache/huggingface/datasets/csv/nlpHakdang___beneficiary-1d32d2b062b3ea54/0.0.0/bf68a4c4aefa545d0712b2fcbb1b327f905bbe2f6425fbc5e8c25234acb9e14a...

  0%|          | 0/1 [00:00<?, ?it/s]

Downloading:   0%|          | 0.00/67.6M [00:00<?, ?B/s]

  0%|          | 0/1 [00:00<?, ?it/s]

Dataset csv downloaded and prepared to /opt/ml/.cache/huggingface/datasets/csv/nlpHakdang___beneficiary-1d32d2b062b3ea54/0.0.0/bf68a4c4aefa545d0712b2fcbb1b327f905bbe2f6425fbc5e8c25234acb9e14a. Subsequent calls will reuse this data.

  0%|          | 0/1 [00:00<?, ?it/s]

DatasetDict({
    train: Dataset({
        features: ['Unnamed: 0', 'Unnamed: 0.1', 'stock_code', 'report_idx', 'corp_code', 'corp_name', 'report_date', 'clean'],
        num_rows: 2318
    })
})

In [113]:
df = pd.DataFrame(dataset['train'])
df.isna()

,Unnamed: 0,Unnamed: 0.1,stock_code,report_idx,corp_code,corp_name,report_date,clean
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
2313,False,False,False,False,False,False,False,False
2314,False,False,False,False,False,False,False,False
2315,False,False,False,False,False,False,False,False
2316,False,False,False,False,False,False,False,False
2317,False,False,False,False,False,False,False,False

In [114]:
df = df.dropna()
df

,Unnamed: 0,Unnamed: 0.1,stock_code,report_idx,corp_code,corp_name,report_date,clean
0,0,0,950130,20211115000151,956028,엑세스바이오,20170630,"{'I. 회사의 개요': {'1. 회사의 개요': ""1. 회사의 개요1. 연결대상 ..."
1,1,1,33030,20211115002044,232317,지오엠씨,20170630,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 가. 연결대상...
2,2,2,67130,20211112000043,419989,클루넷,20170630,"{'I. 회사의 개요': {'1. 회사의 개요': ""1. 회사의 개요1. 연결대상 ..."
3,4,4,900070,20211125000049,783246,글로벌에스엠,20170703,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요1. 연결대상 ...
4,5,5,900120,20211028000448,800084,씨케이에이치,20170703,"{'I. 회사의 개요': {'1. 회사의 개요': ""1. 회사의 개요 (1) 연결대..."
...,...,...,...,...,...,...,...,...
2313,2594,2594,340440,20211115000416,1416572,한화플러스제1호스팩,20211125,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 ※ 한화플러스...
2314,2595,2595,137950,20211111000044,664853,제이씨케미칼,20211126,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요 제이씨케미칼(...
2315,2596,2596,9540,20211115001694,164830,한국조선해양,20211022,"{'I. 회사의 개요': {'1. 회사의 개요': ""1. 회사의 개요가. 연결대상 ..."
2316,2597,2597,128820,20211115000893,828789,대성산업,20211111,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요가. 회사의 법...
2317,2598,2598,289220,20211110000405,1264438,자이언트스텝,20211028,{'I. 회사의 개요': {'1. 회사의 개요': '1. 회사의 개요주식회사 자이언...

In [116]:
df.clean = df.clean.map(eval)

In [117]:
import copy

orig_sample = copy.deepcopy(df.clean[0])

In [118]:
# dict type check
for idx in df.clean.index:
    assert dict == type( df.clean[idx] ), f"eval not work for {idx}."

In [119]:
from dart_prcs import *
# 이 함수를 수정하세요.
import re
def preprocess(content):
    content = re.sub("-", "", content)
    content = re.sub("\"", "", content)
    content = re.sub("\'", "", content)
    content = re.sub(",", "", content)
    content = re.sub("(주)", "", content)
    content = re.sub("[(]", " (", content)
    content = re.sub("[)]", ") ", content)
    content = remove_repeated_spacing(content)
    content = clean_punc(content)
    content = remove_useless_breacket(content)
    content = remove_email(content)
    content = remove_url(content)
    
    # rm_char = "■"
    rm_char = '■\.:%/~0㈜&※·00→①②$③○-ㆍ」「■>Ⅱ④;▶●?⑤社⑥⑦□=ㅇ『』外<◆△【】現▲▷美∼用☞@前000㎡◇中Ⅲ－無新內％◈}株ㅁ會㎥{ㄱⅠ化高＋ㄴ日有：ㄷ公司全後限，〔〕學↑式月|＆ℓㄹ…業人名《》年^韓部▼本大小海│愛故食形㎏獨山多水東可非思州國家生上℃ㅂ合金發在同⊙軍英物實田開○○○○○作性體度産空分子光重ㅅ島間時利＂面母≪㎖資心別氣仁未京來對成雲淸聖命保的集史靑場法神正第一硏㎞ㅡ★太民如理出入下解得安平＝帝所市石門相方元政先富北木自車南地―｜求ㅎㅎ≫西長銀者規制女江福和ㅌ通主義村當代力㎝善原選色；古河──都能動歌〈〉不定ㅠ吉事理張數朝金㎜記書'
    content = re.sub(rm_char, " ", content)
    return content

for i in range(len(df)):
    content = df.iloc[i].clean
    for k ,v in content.items():
        for kk, vv in v.items():
            try:
                v[kk] = preprocess(vv)
            except Exception as e:
                # print(vv)
                print(e)
                # print(i)

In [93]:
# df.clean[0] == orig_sample

In [94]:
# df.to_csv("sample.csv")

In [120]:
# for k , v in df.clean[0].items():
#     for kk, vv in v.items():
#         reg = df.clean[0][k][kk]
#         print(kk,len(reg) )
#         # print(re.sub("", "", reg))
#         # break

# pd.DataFrame(df.clean)
from collections import defaultdict

for k , v in df.clean.items():
    dict = defalutdict("")
    for kk, vv in v.itmes():
        dict[kk] = vv

NameError: name 'defalutdict' is not defined

# 전처리 한 데이터셋 업로드하기

사전 준비

0. 허깅페이스 가입 후 아래 명령어 치고 console에 뜨는 링크 타고 들어가서 api key을 받아옵니다. 혹시 안되면, org api key가 아니라 본인의 api key을 받아오고 있는지 확인하세여
`huggingface-cli login`

**그리고 가입한 이메일을 이미 허깅페이스 레포로 가입되어 있는 사람들에게 알려주시면 초대 링크를 보내겠습니다**

1. git lfs을 설치
`apt-get install git-lfs`

2. huggingface repository fetch
`git clone https://huggingface.co/datasets/nlpHakdang/beneficiary`

3. dataset_dir으로 이동
`cd beneficiary`

4. git lfs을 이 디렉토리에 설치
`git lfs install`

In [ ]:
# # 전처리 한 dataset 업로드 위해 파일로 만듦.

# dataset_dir = "./beneficiary/" # huggingface dataset local repositoy
# df.to_csv(dataset_dir+"dart_v0_remove_dash.csv")j

## 업로드

1. branch 구분하기
main branch에는 main 혹은 다른 전처리에 동일하게 들어갈 내용만 넣으면 좋을 것 같습니다. 
`git branch ...`

2. git lfs tracking
데이터 파일이 용량이 커서 git lfs으로 tracking을 해줘야 해요
`git lfs track {dataset_file.csv}`

3. git stage
`git add dataset_file.csv`
`git add .gitattributes`

4. git commit

5. git push

6. main branch으로 이동해서 readme에 특정 브랜치에 어떤 전처리가 수행되었는지 적어주고 main branch을 push 해주시면 다른 task에서 비슷한 전처리가 있을 때 활용할 수 있겠지여?